@model AdaptersExample.DataModel.Post

@{
    ViewBag.Title = "ViewPost";
}

<h2>@Model.Title</h2>
<p>@Model.Body</p>
<span style:float:right">- @Model.Author</span>
<span style:float:float; color:green"><em>@Model.TimeStamp</em></span>